* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

body {
  background-color: #1c0c04;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3em;
}

#calc {
  width: 400px;
  padding: 0.9em;
  background-color: #c4c4c4;
  color: #000;
  display: flex;
  flex-direction: column;
  border-radius: 0.9em;
}

#calc h3 {
  font-size: 0.9em;
  font-weight: 700;
  color: rgb(9, 7, 7);
}

#operations {
  text-align: right;
}

#previous-operation {
  color: #777;
  padding: 0.2em;
  overflow-wrap: break-word;
  min-height: 1.6em;
}

#current-operation {
  min-height: 1.6em;
  font-size: 3em;
  font-weight: 700;
  padding: 0.2em;
  overflow-wrap: break-word;
}

#buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3px;
}

#buttons-container button {
  border: 1px solid transparent;
  border-radius: 25em;
  height: 4em;
  font-size: 1.2em;
  background-color: #a08378;


  cursor: pointer;
}

#buttons-container .number {
  background-color: #824221;
}

#buttons-container button:hover {
  background-color: #541c0a;
  border-color: rgb(244, 242, 239);
  border-width: 5px;
  
}

#buttons-container #equal-btn {
  grid-column: span 2;
  background-color: #633f2f;
}

#buttons-container #equal-btn:hover {
  grid-column: span 2;
  background-color: #341100;
}
